<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="2" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">
    <test name="Myntra">
        <classes>
            <class name="org.example.facebook"/>
        </classes>
    </test>

    <test name="flipkart">
        <classes>
            <class name="org.example.google"/>
        </classes>
    </test>

</suite>